.app {
  &-container {
    padding: 20px 5%;

    mat-form-field {
      width: 100%;
    }
  }

  &-field {
    max-width: 300px;
  }

  &-value-preview {
    &-title {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1em;
    }
  }

  &-change-value {
    margin-top: 20px;
    @media (max-width: 800px) {
      text-align:center;
    }
  }

}
